html {
    margin: 0;
}

body {
    background-image: url("https://images2.alphacoders.com/743/74302.jpg");
    background-color: #cccccc;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h2 {
    display: flex;
    justify-content: center;
}

#showView{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 30%;
    padding: 2px;
    border-radius: 15px;
}